html,body {
    margin: 10;
    padding: 10;
}

@font-face{
    font-family: "earlygameboy";
    src: url(./pixelfont/earlygameboy.ttf);
}

body {
    font-family: "earlygameboy", "Space Mono", monospace;
    background-color: black;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

h1, h2 { 
    margin-top: 1.5rem;
    text-align: center;
}

.container { 
    width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #9eb8ab;
    border: 5px #2c3038;
    border-style: dashed;
    border-radius: 2px;
}

.grid { 
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

button{
    margin: 2em auto;
    padding: 15px 30px;
    display: block;
    font-family: "earlygameboy";
    font-size: 1.2rem;
    background-color: black;
    color: #1fb86b;
    border: 2px solid;
    border-radius: 2px;
    cursor: pointer;
    animation-play-state: paused;
}

.blinking{
    background-color: #1fb86b;
    color: black;
    animation: blinking 0.5s ease running;
    animation-iteration-count: infinite;
}

@keyframes blinking{
    0%{
        background-color: white;
        color: #1fb86b;
    }

    100%{
        background-color: #1fb86b;
        color: white;
    }

    0%{
        background-color: white;
        color: #1fb86b;
    }
}

.squareStyles { 
    width: 20px;
    height: 20px;
}

.snake {
    background-color: #1fb86b;
    border-radius: 2px;
}

.apple { 
    background-color: #b3433b;
    border-radius: 60%;
}

.youLose{
    text-transform: uppercase;
}

/*
@keyframes loser { 
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

*/